In [1]:
import pandas as pd
import numpy as np

#The Problem
Delete columns where a single value occurs more than half of the time.

In [2]:
arr = np.array([
    [1,2,9,1,1,1],
    [2,3,3,1,0,1],
    [1,4,2,1,2,1],
    [2,3,1,1,2,1],
    [1,2,3,1,8,1],
    [2,2,5,1,1,1],
    [1,3,8,7,4,1],
    [2,4,7,8,3,3]
    ])

In [3]:
df = pd.DataFrame(arr, columns = list('abcdef'))
df

   a  b  c  d  e  f
0  1  2  9  1  1  1
1  2  3  3  1  0  1
2  1  4  2  1  2  1
3  2  3  1  1  2  1
4  1  2  3  1  8  1
5  2  2  5  1  1  1
6  1  3  8  7  4  1
7  2  4  7  8  3  3