#The Problem:
Converting the values in the **Age** column to age ranges between [19, 24, 29, 34, 40]. Then, counting the **Male** and **Female** values in the age range categories.

**The cut function can be useful for going from a continuous variable to a categorical variable. In this example, we will use  cut to convert the values of the 'Age' column to groups of age ranges.**

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data=[[23, 'Male'], [34, 'Female'], [38, 'Female'], [32, 'Male'], [33, 'Female'], 
                        [20, 'Male'], [34, 'Male'], [25, 'Female'], [27, 'Female'],[23, 'Male'], 
                        [34, 'Female'], [38, 'Female'], [32, 'Male'], [32, 'Female'], [21, 'Male'], 
                        [36, 'Male'], [23, 'Female'], [22, 'Female']], columns=['Age', 'Sex'])
df

    Age     Sex
0    23    Male
1    34  Female
2    38  Female
3    32    Male
4    33  Female
5    20    Male
6    34    Male
7    25  Female
8    27  Female
9    23    Male
10   34  Female
11   38  Female
12   32    Male
13   32  Female
14   21    Male
15   36    Male
16   23  Female
17   22  Female