#The Problem:
We need to multipy by 100 the values in **'col2'** and **'col3'** in the rows where **'col1'** value is **'a'**.

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame({'col1' : ['a', 'a', 'c', 'c', 'd', 'b', 'a', 'b', 'c'],
               'col2' : [0.2, 1.0, 67.0, 71.5, 23.2, 71.0, 0.44, 59.3, 12.7],
               'col3' : [0.82, 0.64, 77.5, 12.5, 22.5, 88.0, 0.34, 98.2, 87.4]})
df

  col1   col2   col3
0    a   0.20   0.82
1    a   1.00   0.64
2    c  67.00  77.50
3    c  71.50  12.50
4    d  23.20  22.50
5    b  71.00  88.00
6    a   0.44   0.34
7    b  59.30  98.20
8    c  12.70  87.40