#The Problem:
Deleting columns where the column name contains the string **'test'** and more than half of the values are **NaN**s.

***NaN is used to denote missing data, largely for simplicity and performance reasons.***

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1':['A', 'A', 'B','B'], 'col2': ['B','B','C','C'], 
                   'col3': ['C','C','A','A'], 'col4test': [11,np.nan,np.nan,np.nan], 
                   'col5': [30,10,14,91], 'col6test': [2,12,16,np.nan]})
df

  col1 col2 col3  col4test  col5  col6test
0    A    B    C      11.0    30       2.0
1    A    B    C       NaN    10      12.0
2    B    C    A       NaN    14      16.0
3    B    C    A       NaN    91       NaN